
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  --primery-color: #03011f;
  --secondary-color: #2a327147;
  --type-color: rgb(109, 172, 197);
  --line-color:#FFFFFF;
}

body {
  background-color: var(--primery-color);
  color: var(--type-color);
  font-family: 'MedievalSharp', cursive;
}

h1 {
  text-align:center; 
}
h1 img {
  width: 600px;
  margin: 0 auto;
}


#searchBar {
  width: 20%;
  height: 32px;
  border-radius: 0.7rem;
  border: 1px solid var(--line-color);
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Source Sans Pro";
  color: var(--line-color);
  background-color: var(--primery-color);
  margin: 1rem auto;
}
#searchBar::placeholder {
  color: var(--type-color);
  text-transform: uppercase;
}
#searchBar:focus {
  outline: none;
}
#searchBar:hover,
#searchBar:focus {
  border-color: var(--type-color);
  color: var(--type-color);
}

#searchWrapper {
  position: relative;
  text-align: center;
}

div ul li img{
  width:300px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: .7rem;
}

ul {
  padding: 50px 0;
}

ul li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: var(--line-color);
  margin: 0 auto;
  padding-top: 50px;
}

ul li::after {
  background: var(--line-color);
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


ul li div{
  position: relative;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  /* bottom: 0; */
  background: var(--secondary-color);
}

ul li:nth-child(odd) div {
  left: 37px;
}

ul li:nth-child(even) div {
  left: -361px;
}
ul li:nth-child(even) div time{
  text-align: right;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline-item:hover{
  box-shadow: 0 0 10px rgba(109, 172, 197);

}

@media screen and (max-width: 900px) {
  ul li div {
    width: 200px;
    align-items: center;
  }
  img{
    width:200px;
  }
  ul li:nth-child(even) div {
    left: -251px;
    /*250+45-6*/
  }
}